<head>
    <link rel="stylesheet" href="navbar.component.css">
</head>

<body>
    
    <div class ="parentflex">

        <div>
           
            <div class = "nav">

                <h4 class = "text">Password Manager</h4>
           
            </div>

        </div>

        <div class="childflex">
           
            <a class = "box" routerLink = "/login" routerLinkActive = "active">
            
            <div class ="nav" id ="one">

                <h4 class="text">Login</h4>

            </div>
            </a>
        </div>

        <div class = "childflex">
            
            
            <a class = "box" routerLink = "/home" routerLinkActive = "active">
            

            <div class = "nav" id = "two">

                <h4 class="text">Home</h4>

            </div>

            </a>

        </div>

    </div>
    
</body>