<head>
    <link rel="stylesheet" href="navbar.component.css">
</head>

<body>
    
    <div class ="parentflex">

        <div class="childflex">
           
            <a class = "box" routerLink = "/login" routerLinkActive = "active">
            
            <div class ="nav" id ="one">

                <h4 class="box">Login</h4>

            </div>
            </a>
        </div>

        <div class = "childflex">

            <div class = "nav" id = "two">

                <h4 class="box">Home</h4>

            </div>

        </div>

    </div>
    
</body>