.parentflex {
    display:inline-flex;
    background-color: black;
    height:60px;
    width: 100%;
    flex-direction:row;
    
}

.nav {
    margin:10px;
}

.childflex {
    display:flex;


}
#one {
    color:silver;
    display:flex;

}

#two {
    color:silver;
}

.box {
    margin-left:10px;
    margin-right:10px;
}

.childflex:hover {
    background-color:#696969;
}
.box {
    text-decoration: none;
}
.text {
    text-decoration:none;
    color:silver;
}