<head>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>


<div class="parentflexcontainer">

    <div class = "icon">

    </div>
   
    <div class="flexcontainer">
        
        <div class = "flextext">
            
            <h1 id="header"><img src = 'passwordicon.ico'></h1>
        
        </div>

    </div>
    
    <div class = "flexcontainer">
        
            <div class = "childflex">
                
                <input id = "username" type="text" placeholder="email" required = "required">
            
            </div>
    </div>
   
    <div class = "flexcontainer">
        
        <div class = "childflex">

            <input id ="pass" type="password" placeholder="password" required="required">
        
        </div>

    </div>

    <div class = "flexcontainer">
            <div id="one">
        <ul *ngFor = "let text of logintext">

        <li>
            <h4>{{loginmessage[1]}}</h4>
            
        <button  class="button" name= {{text.name}} 
        ><strong><span>{{text.name}}</span></strong></button>

        </li>

        </ul>        
        
        <h4>Forgot your password: </h4>

        <button class = "button" name="forgot" [@btnClick] = 'logintext[1].state' (click) = 'logintext[1].togglestate()'>{{logintext[1].name}}</button>
       
        <h4>Don't have an account:</h4>
         
        <div *ngIf = 'newprofile'><register></register></div>
            <button class = "button" (click) = toggleregister() [@btnClick] = 'logintext[2].state' (click) = 'logintext[2].togglestate()'>{{logintext[2].name}}</button>

             </div>
    </div>

</div>

</body>