<head>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>


<div class="parentflexcontainer">

    <div class = "icon">

    </div>
   
    <div class="flexcontainer">
        
        <div class = "flextext">
            
            <h1 id="header"><img src = 'passwordicon.ico'></h1>
        
        </div>

    </div>
    
    <div class = "flexcontainer">
        
            <div class = "childflex">
                
                <input id = "username" type="text" placeholder="email" required = "required">
            
            </div>
    </div>
   
    <div class = "flexcontainer">
        
        <div class = "childflex">

            <input id ="pass" type="password" placeholder="password" required="required">
        
        </div>

    </div>

    <div class = "flexcontainer">
            <div id="one">
                
        <button  class="button" name="login"
        [@btnclick]="btn.click"
        (click)="btn.toggleState()"><strong><span>Login</span></strong></button>

        <h4>Forgot your password: </h4>

        <button class = "button" name="forgot">forgot</button>
       
        <h4>Don't have an account:</h4>
         
        <div *ngIf = 'newprofile'><register></register></div>
            <button class = "button" (click) = toggleregister()>register</button>

             </div>
    </div>

</div>

</body>