
.flexcontainer {
    
    display: flex;
    flex-direction: column;
   
    
    
}

.childflex {
    display:flex;
    margin: 10px;
    border: .4px inset #706969;
    justify-content:flex-start;
}

.parentflexcontainer {
    margin-top:80px;
    margin-bottom: 80px;
    background-color: #697890;
    border: 1.5px ridge #707172;
}

#username {
    height:36px;
    width: 100%;
   
}
#pass {
    height:36px;
    width: 100%;
}

#header {
    color:#444444;
    font-size:40px;
    margin-left: 0px;
    margin-top:0px;
    padding: 24px;
    font-family: Helvetica;
    margin-top:0px;
    }



input {
    border: 1px groove #697993;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    color:#686867;
}

::placeholder{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    color:#686867;
}

.flextext {
    
    align-self: center;
    margin-top: 30px;
}

.button {
align-self: flex-start;
margin: 10px;
padding: 10px;
border: 3px outset #697993;
background-color:#698095;
}

.registerflexparent {
    display:inline-flex;
    border:2px black solid;
    justify-content: flex-end;
}

.registerflex {
    align-content: flex-end;
}

span {
    font-family:Helvetica;
    color:#444444
}

ul {
    list-style-type: none;
}